a {
    text-decoration: none;
    color: #f6b711;
}
a:hover{
    color: #f613e3;
    text-decoration: underline;
}
body {
    margin: 0px;
    background-color: #11f780;
    color: #f6b711;
}
header {
    width: 100%;
    height: 18vh;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 2px 2px 5px grey
    ;
    background-color: #0cac79;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
header>.logo {
    width: 50%;
    padding-left: 10px;
    flex: 1 0 140px;
}
.logo > h1 {
    font-size: 3.5rem;
}
header>nav {
    width: 40%;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: bold;
    flex: 1 0 140px;
}
header>nav>a:last-child{
    background-color: #f613e3;
    text-shadow: 1px 1px 2px #000;
    padding: 10px 20px;
    border-radius: 5px;
}
header>nav>a:last-child:hover{
    background-color: #ac0c9f;
    text-decoration: none;
    color: #f613e3;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgray;
    transition: .45s ease-out;
}
.banner>.next img,.banner>.prev img{
    width: 4%;
    position: absolute;
    /* display: none; */
    z-index: 1 ;
    transition: all .45s ease-in;
}
.banner>.next img:hover,.banner>.prev img:hover{
    filter: invert();
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.228);
}
.banner>.next img,.next {
    top: 50%;
    right: 0;
}
.banner>.prev img,.prev {
    top: 50%;
    left: 0;
}
.banner>img {
    width: 100%;
    height: 30%;
    display: block;
}
.banner>img:hover {
    filter: blur(5px);
}
.banner>.pagination{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 86%;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
section {
    width: 77%;
    height: max-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: #11f780; */
}
article, .sidemenu {
    padding: 10px;
    border-radius: 25px;
    /* border-top: 4px solid #0cac79; */
    /* border-bottom: 4px solid grey; */
    background-color: #0cac79;
    height: fit-content;
}
.container, .spotlight-list, .texnow-list, .trailershow-list, .feature-list, .partner-list {
    width: 98%;
    height: min-content;
    padding: 10px;
    border-bottom: 1px solid #11f780;
    border-right: 1px solid #11f780;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    cursor: pointer;
}
.container:hover > :not(:hover),
.spotlight-list:hover > :not(:hover),
.trailershow-list:hover > :not(:hover) {
    /* background-color: black; */
    filter: blur(10px);
}
article h1 {
    margin-left: 20px;
    padding: 0;
    font-size: 3em;
}
.satu {
    width: 200px;
    height: 400px;
    background-color: #11f780;
    flex: 1 0 50px;
    position: relative;
    transition: all .3s;
    box-sizing: content-box;
    > .title {
        width: 98%;
        text-align: center;
        font-size: 1.28em;
        padding: 3px;
        display: none;
        color: #fff;
        position: absolute;
        bottom: 0;
        /* left: 40%; */
        background-color: rgba(0, 0, 0, 0.543);
        border-radius: 0px 0px 5px 5px;
        transition: all .3s;
    }
    > .title2 {
        width: 98%;
        text-align: center;
        font-size: 1.0em;
        padding: 3px;
        display: none;
        color: #fff;
        position: absolute;
        top: 0;
        /* left: 40%; */
        background-color: rgba(0, 0, 0, 0.543);
        border-radius: 5px 5px 0px 0px;
        transition: all .3s;
    }
}
.satu:hover {
    transition: all .3s;
    > img {
        transition: all .3s;
        transform: scale(0.56);
    }
    > .title {
        transition: all .3s;
        display: block;
        height: 20%;
    }
    > .title2 {
        transition: all .3s;
        display: block;
        height: 20%;
    }
}
.satu img,.dua img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: all .3s;
}
.dua {
    width: 200px;
    height: 400px;
    background-color: #f6b711;
    flex: 1 0 50px;
}
.tiga {
    width: 200px;
    height: 400px;
    background-color: #f613e3;
    flex: 1 0 50px;
}
.empat {
    width: 200px;
    height: 400px;
    background-color: #ac0c9f;
    flex: 1 0 50px;
}
aside {
    width: 20%;
    padding: 10px;
    display: block;
    /* background-color: #0cac79; */
}
.sidemenu {
    background-color: #0cac79;
}
footer {
    /* width: 100%; */
    padding: 10vh;
    border-radius:15px 15px 0 0;
    text-align: center;
    background-color: #0cac79;
}
